.quran-popup
{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(153, 153, 153);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 1em;
    color: white;
    display: none;
    line-height: 1.8;
    padding: 10px;
    position: absolute;
    z-index: 9999;
}